/*
  dmarcotte-xslstyle.css

  This is a CSS stylesheet of rendering properties for an instance of an
  XSLStyle(TM) HTML report.  See the xslstyle-def-dmarcotte.xsl XSLT
  stylesheet for more information regarding engaging this stylesheet with
  HTML files.

  XSLStyle(TM) by Crane Softwrights Ltd:

    http://www.CraneSoftwrights.com/resources/#xslstyle

  $Id: dmarcotte-xslstyle.css,v 1.3 2010/02/20 20:35:48 gkholman Exp $  
*/
body
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:hover
{   color:#0F0F84;
  text-decoration: none;
} 

.xsl-top-level,
.blockquote
{
    background:#eee;
}

.xsl-top-level
{
    margin-bottom: 0px;
    border:1px solid black;
    padding: 10px;
    background: #DDEEFF;
}

.xsl-top-level,
div.section > div.blockquote
{
    padding-bottom: 5px;
}

div.section > div.blockquote
{
    font-size: 0.8em;
    padding-top: 10px;
    border: 1px solid black;
}

div.section > div.blockquote p
{
    margin-top: 0px;
    margin-bottom: 5px;
}

blockquote[class="blockquote"],
blockquote[class="blockquote"] p
{
    margin-top: 0px;
}

.programlisting
{
    background: #fafafa;
    padding: 5px;
    margin: 0px 20px;
    border: 1px solid black;
}

/* end of stylesheet */
